<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather API</title>
  </head>
  <body>
    <nav>
      <a href="/about">About</a>
      <a href="/contact-us">Contact Us</a>
      <a href="/home">Home</a>
    </nav>
    <h1>Welcome to my Website</h1>
    <h2>More info will be here soon</h2>
    <p>Hello, this is will be my weather API website</p>
    <img src="{{url_for('static', filename='profile.png')}}" alt="My Pic" style="height: 400px" />
    <br />
    <br />
    <a href="https://rieda-portfolio-website.streamlit.app/">My Portfolio</a>
  </body>
</html>
